/* css variables */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0");

:root {
  --padding: 2rem;
  --radius-sm: 5px;
  --radius-lg: 20px;
  --color-white: 255,255,255;
  --color-black: 14,15,17;
}

.theme-dark {
  --color-accent-01: 229,57,53;
  --color-accent-02: 255,89,89;
  --color-background-01: 14,15,17;
  --color-background-02: 24,26,28;
  --color-background-03: 36,37,39;
  --color-text: 255,255,255;
  --shadow: 0 4px 12px rgba(0,0,0,0.3), 0 0 1px 1px rgba(0,0,0,0.15);
}

.theme-light {
  --color-accent-01: 229,57,53;
  --color-accent-02: 255,89,89;
  --color-background-01: 255,255,255;
  --color-background-02: 241,241,241;
  --color-background-03: 225,225,225;
  --color-text: 38,50,56;
  --shadow: 0 4px 12px rgba(0,0,0,0.1), 0 0 1px 1px rgba(0,0,0,0.05);
}

/* element styles */

a {
  color: rgba(var(--color-accent-01),1.0);
  cursor: pointer;
  transition: color 0.2s;
  text-decoration: underline;
}

a:hover {
  color: rgba(var(--color-accent-01),0.7);
}

h1 {
  color: var(--color-text);
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  color: var(--color-text);
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 0.5rem 0;
}

body {
  background-color: rgb(var(--color-background-01));
  color: rgb(var(--color-text));
  display: flex;
  flex-direction: column;
  font-family: 'Jost', sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

footer {
  font-size: 0.8rem;
  opacity: 0.8;
  padding: var(--padding) 0 0 0;
  text-align: center;
}

header {
  align-items: center;
  box-shadow: var(--shadow);
  display: flex;
  font-weight: 600;
  padding: calc(var(--padding) / 2) var(--padding);
}

header #page-title {
  flex: 1 0 0;
  font-size: 1.2rem;
  margin: 0;
}

header .material-symbols-rounded {
  cursor: pointer;
  flex: 0 0 0;
  margin-left: 1rem;
  user-select: none;
}

input, option, select {
  font-family: 'Jost', sans-serif;
}

input,
select {
  background-color: rgb(var(--color-background-02));
  border-radius: var(--radius-lg);
  /*border: 1px solid rgba(var(--color-text),0.2);*/
  border: none;
  border-right: 0.7rem solid transparent;
  box-shadow: var(--shadow);
  color: var(--color-text);
  padding: 1ch;
  transition: background-color 0.2s;
}

input:hover,
select:hover {
  background-color: rgb(var(--color-background-03));
}

input[type="button"] {
  background: rgb(var(--color-accent-01));
  border: none;
  color: rgb(var(--color-white));
  cursor: pointer;
  grid-column: 1/-1;
  transition: background-color 0.2s;
}

input[type="button"]:hover {
  background-color: rgb(var(--color-accent-02));
}

input[type="reset"] {
  background: rgb(var(--color-background-02));
  border: none;
  color: rgb(var(--color-text));
  cursor: pointer;
  grid-column: 1/-1;
  transition: background-color 0.2s;
}

input[type="reset"]:hover {
  background-color: rgb(var(--color-background-03));
}

input[type="search"] {
  border: none;
  grid-column: 1/-1;
  padding: 1ch 1.5ch;
}

label {
  display: none; /* block */
  font-size: 0.8rem;
  user-select: none;
}

main {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: calc(var(--padding) / 2);
}

table {
  border-radius: var(--radius-sm);
}

table,
tbody,
td,
th,
tr {
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

table caption {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 0.5rem 0;
  text-align: left;
}

td, th {
  background-color: rgb(var(--color-background-02));
  padding: 1ch;
  transition: background-color 0.2s;
}

tbody > :first-child > :first-child {
  border-radius: var(--radius-sm) 0 0 0;
}

tbody > :first-child > :last-child {
  border-radius: 0 var(--radius-sm) 0 0;
}

tbody > :last-child > :first-child {
  border-radius: 0 0 0 var(--radius-sm);
}

tbody > :last-child > :last-child {
  border-radius: 0 0 var(--radius-sm) 0;
}

tr:not(:last-child) td, tr:not(:last-child) th {
  border-bottom: 1px solid rgb(var(--color-background-03));
}

tr:hover td,
tr:hover th {
  background-color: rgb(var(--color-background-03));
}

/* header elements */

#display-toggle {
    display: none;
  }

/* wheel-filters */

#wheel-filters {
  box-sizing: border-box;
  flex: 0 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: calc(var(--padding) / 2);
}

#wheel-filters form {
  align-items: baseline;
  display: grid;
  gap: calc(var(--padding) / 2);
  grid-template-columns: repeat(2, 1fr);
}

#wheel-filters input,
#wheel-filters label,
#wheel-filters select {
  box-sizing: border-box;
  width: 100%;
}

/* wheel-list */

#wheel-list {
  flex-grow: 1;
  padding: calc(var(--padding) / 2);
}

#wheel-list > div {
  display: grid;
  flex-grow: 1;
  gap: calc(var(--padding) / 2);
  grid-template-columns: repeat(auto-fill,minmax(18ch,1fr));
  height: fit-content;
}

#wheel-list figure {
  cursor: pointer;
  margin: 0;
  position: relative;
  transition: background-color 0.2s;
}

#wheel-list figure img {
  aspect-ratio: 1.0;
  background: rgb(var(--color-background-02));
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow);
  display: block;
  filter: grayscale(0);
  object-fit: cover;
  overflow: hidden;
  transition: 0.2s;
  width: 100%;
}

#wheel-list figure:hover img {
  background: rgb(var(--color-background-03));
  filter: grayscale(0);
}

figcaption > p:first-child {
  display: block;
  font-size: 0.8rem;
  font-weight: normal;
  margin: 0.5rem 0 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

figcaption > p:not(:first-child) {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* wheel-details */

#wheel-details {
  background: rgba(var(--color-background-01),1.0);
  box-sizing: border-box;
  flex: 0 0 calc(50vw - 12.5ch - (var(--padding) / 2));
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: var(--padding);
  position: absolute;
    left: 0;
    right: 0;
    top: 100%;
  transition: top 0.2s;
  z-index: 100;
}

#wheel-details.open {
  top: 0%;
}

#wheel-details > div {
  width: 100%;
}

#wheel-details-message {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

#wheel-details-message h2 {
  font-size: 2rem;
}

#wheel-details-container {
  margin: 0 auto;
  position: relative;
  max-width: 100ch;
}

#wheel-details-close {
  background: rgb(var(--color-accent-01));
  border-radius: 0 var(--radius-sm);
  color: rgb(var(--color-white));
  cursor: pointer;
  padding: 0.5rem;
  position: absolute;
    right: 0;
    top: 0;
}

#wheel-details-close:hover {
  background: rgb(var(--color-accent-02));
}

#wheel-details-close > span {
  display: block;
}

#wheel-details-header {
  align-items: center;
  background: rgb(var(--color-background-02));
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-bottom: var(--padding);
  overflow: hidden;
  text-align: center;
}

#wheel-details-hero {
  aspect-ratio: 1.0;
  flex-shrink: 0;
  width: 100%;
}

#wheel-details-hero img {
  display: block;
  height: 100%;
  object-fit: contain;
  width: 100%;
}

#wheel-details-text {
  padding: var(--padding);
}

#wheel-details-text > *:first-child {
  margin-top: 0;
}

#wheel-details-text > *:last-child {
  bottom: 0;
}

#wheel-details-info {
  height: fit-content;
}

#wheel-details-info > :last-child {
  margin-bottom: 0;
}

#wheel-images {
  display: grid;
  height: fit-content;
  gap: calc(var(--padding) / 2);
  grid-template-columns: repeat(auto-fill, minmax(15ch, 1fr));
}

#wheel-images img {
  aspect-ratio: 1.0;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow);
  display: block;
  object-fit: cover;
  width: 100%;
}

#wheel-info,
#wheel-specs {
  box-shadow: var(--shadow);
  margin-bottom: var(--padding);
  width: 100%;
}

#wheel-info td {
  text-align: left;
  width: 50%;
}

#wheel-info th {
  text-align: right;
}

#wheel-header-brand {
  font-size: 1rem;
  margin: 1rem 0 0 0;
}

#wheel-header-model {
  margin: 0;
}

#wheel-header-tags span {
  background: rgb(var(--color-accent-01));
  border-radius: var(--radius-lg);
  color: rgb(var(--color-white));
  cursor: pointer;
  line-height: 2;
  padding: 0 1ch;
  white-space: nowrap;
}

#wheel-header-description {
  margin: 1rem 0;
}

#wheel-info-colors span:not(:last-child):after {
  content: ', ';
}

#wheel-links-container {
  margin-top: var(--padding);
}

#wheel-links a {
  display: block;
}

#wheel-related-container {
  margin-top: var(--padding);
}

#wheel-related {
  display: grid;
  height: fit-content;
  gap: calc(var(--padding) / 2);
  grid-template-columns: repeat(auto-fill, minmax(15ch, 1fr));
}

#wheel-related figure {
  cursor: pointer;
  margin: 0;
  position: relative;
  transition: background-color 0.2s;
}

#wheel-related figure img {
  aspect-ratio: 1.0;
  background: rgb(var(--color-background-02));
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow);
  display: block;
  object-fit: cover;
  overflow: hidden;
  transition: 0.2s;
  width: 100%;
}

#wheel-related figure:hover img {
  background: rgb(var(--color-background-03));
}

#wheel-specs {
  min-width: 60ch;
}

#wheel-specs td {
  text-align: center;
}

#wheel-specs-container {
    overflow: auto;
    margin: 0 calc(var(--padding) * -1);
    padding: 0 var(--padding);
}

.hidden {
  display: none !important;
}

@media (hover: none) {
  #wheel-list figure figcaption {
    background: linear-gradient(to top, black, transparent);
    opacity: 1.0;
    top: auto;
  }
  #wheel-related figure figcaption {
    background: linear-gradient(to top, black, transparent);
    opacity: 1.0;
    top: auto;
  }
}

/* MEDIUM SCREENS */
@media (min-width: 80ch) {
  #wheel-details-header {
    flex-direction: row;
    text-align: left;
  }
  #wheel-details-hero {
    align-self: stretch;
    width: 300px;
  }
}


/* BIG SCREENS */
@media (min-width: 1530px) {
  #display-toggle {
    display: block;
  }
  main {
    flex-direction: row;
    overflow: hidden;
    padding: 0 calc(var(--padding) / 2);
  }
  #wheel-list {
    overflow-x: hidden;
    overflow-y: auto;
    padding: var(--padding) calc(var(--padding) / 2);
  }
  #wheel-details {
    background: transparent;
    padding: var(--padding) calc(var(--padding) / 2);
    position: initial;
    max-width: 100ch;
    width: 100%;
  }
  #wheel-details-close {
    display: none;
  }
  #wheel-filters {
    flex: 0 0 25ch;
    padding: var(--padding) calc(var(--padding) / 2);
  }
  #wheel-filters form {
    grid-template-columns: repeat(1, 1fr);
  }
}
